.site {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

body {
  font-size: 15px;
  font-family: Georgia, '游明朝', YuMincho, 'Hiragino Mincho ProN', serif;
  line-height: 1.8;
}

.site-title a{
  color: #111;
}

h1{
  font-size: 36px;
}

.header a{
  display: inline-block;
  margin-top: 15px;
  color:black;
    font-size: 100%;
    line-height: 1;
    padding: 0.9em 1.5em;
    text-shadow: 1px 1px 0 #fff;
    text-transform: uppercase;
    transition: .15s ease-in-out;
}

.right{
float:right;
background-image: url(images/search-icon.png);
}

header h1{
  margin-top: 50px;
  font-weight: bold;
text-decoration: none;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, color .15s ease-in-out, opacity .15s ease-in-out;
}


header p{
opacity: 0.7;
}



ul {
  list-style: none;
  display: inline-flex;
  letter-spacing: normal;
  white-space: nowrap;
  text-align: left;
  }

li{
  margin-left: 16px;
}

.drawer-content{
display: block;
    padding-left: 16px;}

.search-field {
  background-image: url(images/search-icon@2x.png);
  float:right;
  margin-bottom:30px;
}


img {
  margin-top:30px;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.top-wrapper h2{
  margin-top: 50px;
  font-size:27px;
  font-family: Georgia, '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
  opacity: 0.7;
}

.contents{
  margin:20px;
}

.contents p{
opacity:0.8;
}

form{
  margin-top: 40px;
}


.main-navigation {
    line-height: 52px;
    text-align: left;
    position: relative;
    z-index: 99;
}

.page-numbers{
  display:inline-block;
  padding: 8px 18px;
  margin-right: 6px;
}

.profilewidget-profile {
  display: inline-block;
  margin-right: 18px;
}

.profilewidget-profile img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 100px;
}

.profilewidget-meta {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: middle;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.widget ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}

.widget_recent_entries .post-date {
  color: #999;
  display: block;
  font-size: 86.7%;
  margin-top: 4px;
}
